body{
    margin: 0px;
    min-height: 100vh;
    background: url(bg.jpg);
}
hero{
    display: block; 
    position: relative;
    width: 100%;
    height: 100%;
}
hero button{
    display: grid;
    position: relative;
    font-family: "BBH Bartle";
    top: 300px;
    left: 38%;
    font-size: 30px;
    width: fit-content;
    border-radius: 10px;
    transition: 500ms;
    color:white;
    -webkit-text-stroke: 1px black;
}
hero button:hover{
    box-shadow: rgba(175, 175, 175, 0.568) -5px -5px 10px , rgb(54, 54, 54) 5px 5px 10px;
    -webkit-text-stroke: 1px black;
    text-shadow: -2px -1px black;
    transition: 500ms;
}
hero img{
    position: absolute;
    left:36%;
    top:70%;
    width: 28%;
    height: 120%;
}
#title{
    display: flex;
    flex-direction: column;
}
info{
    backdrop-filter: blur(5px);
    -webkit-text-stroke: 1px black;
    font-family: "Bebas Neue";
    font-size: 30px;
    background: rgba(78, 78, 78, 0.822);
    display: block;
    width: 90%;
    height: fit-content;
    margin: 20px;
    box-shadow: rgba(175, 175, 175, 0.568) -10px -10px 15px , rgb(54, 54, 54) 5px 5px 10px;
}
info span{
    font-size: 70px;
}
text{
    flex: 1;
    text-align: justify;    
}
iframe{
    border-radius: 10px;
}
teams{
    display: block;
    width: 100%;
    height: 100%;
}
.head{
    font-family: "BBH Bartle";
    -webkit-text-stroke: black 2px;
    font-size: 100px;
}
.sub{
    -webkit-text-stroke: black 0.9px;
    font-family: "Bebas Neue";
    font-size: 50px;
}
.card{
    width: 320px;
    height: 500px;
}
.card img{
    border-radius: 10px;
    box-shadow: rgba(175, 175, 175, 0.568) -10px -10px 15px , rgb(54, 54, 54) 5px 5px 10px;
}
.card p,.card span{
    -webkit-text-stroke: 0.5px black;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 20px;
    font-family: "Bebas Neue";
}
.card p{
    font-size: 18px;
    top: 200px;
    background: rgba(0, 0, 0, 0.342);
    backdrop-filter: blur(2px);
    height: 66%;
    border-radius: 10px;
}
footer{
    width:100%;
}
@media (max-width:900px){
    #title{
        margin-top: 14%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    info{
        -webkit-text-stroke: 0px;
        font-size: 17px;
        width: 100%;
        height: 140%;
        flex-direction: column;
    }
    hero button{
        top: 300px;
        left: 2%;
        font-size: 15px;
    }
    hero img{
        top:160px;
        left:22%;
        width:200px;
    }
    info span{
        font-size: 40px;
    }
    
    .head{
        font-size: 30px;
    }
    .sub{
        font-size: 20px;
    }
    .card{
        height: 120px;
        width: 250px;
        margin: 2px;
        flex-shrink: 0;
        margin-right: 200px;
    }
    .card img{
        flex:0 1 100%;
        scroll-snap-align: start;
                
    }
    .card span{
        font-size: 20px;
    }
    .card p{
        top:186px;
        font-size: 10px;
        height: 60%;
    }
    box{
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        height:600px;
        margin-left: 80px;
    }
    iframe{
        width:80%;
        height: 200px;
    }
}
@media (min-width:901px){
    teams{
        justify-content: center;
    }
}
